@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color--background: var(--background);
  --color--foreground: var(--foreground);
}
@media (prefers-color-schema: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Colors */
@theme {
  --color-primary: #22d3ee;
  --color-secondary: #06b6d4;
  --color-dark-base: #1a2632;
  --color-base: #ffffff;
  --color-content: #0a2e2d;
  --color-content-alter: #5a6a7b;
  --color-outer: #dce8f5;
}
html {
  color-scheme: light;
}

@layer base {
  html {
    @apply scroll-smooth scroll-pt-20;
  }
  body {
    @apply bg-base;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2dd4bf, #0891b2);
  border-radius: 10px;
}

/* About Data */

.about-card {
  @apply bg-white/10 dark:bg-dark-base/50 backdrop-blur-sm rounded-3xl p-4 text-center border border-outer dark:border-none dark:shadow-secondary dark:shadow-sm;
}
.about-card-h3 {
  @apply text-5xl md:text-6xl font-bold bg-linear-to-b from-cyan-400 to-cyan-500 bg-clip-text text-transparent mb-2;
}
.about-card-p {
  @apply text-gray-700 font-medium text-lg dark:text-white;
}
