@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color--background: var(--background);
  --color--foreground: var(--foreground);
}
@media (prefers-color-schema: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Colors */
@theme {
  --color-primary: #2dd4bf;
  --color-secondary: #00c8c0;
  --color-base: #ffffff;
  --color-content: #0a2e2d;
  --color-content-alter: #5a6a7b;
  --color-outer: #dce8f5;
}
html {
  color-scheme: light;
}

@layer base {
  html {
    @apply scroll-smooth scroll-pt-20;
  }
  body {
    @apply bg-base;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2dd4bf, #0891b2);
  border-radius: 10px;
}
