@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Poppins:ital@0;1&display=swap");

@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

@theme {
  --font-gothic: "Nanum Gothic Coding", monospace;
  --font-poppins: "Poppins", sans-serif;
}

@layer components {
  /* Header */
  .navbar-a {
    @apply relative tracking-wide
           before:content-['']
           before:absolute before:left-0 before:bottom-0
           before:h-[2px] before:w-0
           hover:before:w-full
           before:transition-all before:duration-300
           before:bg-[linear-gradient(to_right,rgb(0,157,255),rgb(255,0,255))];
  }
  /* About */
  .btn {
    @apply border sm:text-2xl sm:py-4 sm:px-7 py-2 px-5 text-xl cursor-pointer  rounded-2xl font-semibold text-nowrap transition duration-300 ease-in-out hover:translate-y-[-4px] hover:shadow-2xl;
  }
  .section-title {
    @apply text-4xl sm:text-5xl tracking-widest text-center font-semibold mb-10;
  }
  .skillCardDiv {
    @apply rounded-2xl p-2 flex flex-col items-center cursor-pointer transition duration-300 ease-in-out hover:-translate-y-2 hover:shadow-[0px_23px_46px_-18px_#000000];
  }
  .contactInput {
    @apply w-72 h-13 outline-none pl-6 font-medium text-lg rounded-xl bg-gradient-to-r from-[rgba(0,157,255,0.2)] to-[rgba(255,0,255,0.2)];
  }
  .contactInput:focus {
    @apply border border-[#8383ff];
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 157, 255), rgb(255, 0, 255));
  border-radius: 10px;
}
