footer {
  bottom: 0;
  left: 0;
  height: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
footer ul li a {
  color: black;
  font-weight: 600;
}
.copyright {
  font-weight: 300;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .about .about-container {
    gap: 3rem;
  }
  .skill-info {
    flex-direction: column;
  }
  .about .img {
    width: 300px;
    height: 300px;
  }
  .input-box input {
    padding: 2rem 5rem;
    font-size: 2.5rem;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-card:nth-of-type(4) {
    grid-row: 2/2;
  }
  .input input::placeholder {
    font-size: 2.5rem;
  }
  .input-box i {
    font-size: 2.5rem;
  }
}
@media (max-width: 900px) {
  .contact-right {
    display: none;
  }
}
@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  .logo {
    font-size: 1rem;
  }
  .visit-btn {
    display: none;
  }
  .about-container {
    flex-direction: column;
  }
  .input-box input {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
  .input-box input::placeholder {
    font-size: 1.8rem;
  }
  .input-box i {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
  }
  .about .img {
    width: 200px;
    height: 200px;
  }
  .contact-input {
    width: 80vw;
  }
  .contact-right {
    display: none;
  }
}
